.DS_Store?
.DS_Store
*.old
*.old/*
*.new
*.new/*
old
old/*
*[a-z].1
*[a-z].1/*
sess_*
*.cache
*.swp
*.swo
site/config.php
site/assets/logs/*
site/assets/files/*
site/assets/sessions/*
site/assets/cache/*
site/assets/installed.php
sess_*
tmp
upgrade.php
.idea
.svn
.sass-cache
.sass-cache/*
*.css.map
wire/modules/AdminTheme/AdminThemeDefault/styles/sass/*.css
wire/modules/Jquery/JqueryMagnific/JqueryMagnific.min.js
vendor/*
composer.lock